
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    <title>{% block title %}Knjiznica{% endblock %}</title>
</head>

<body>
    <h1>My library</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/party">Parties</a></li>
            <li><a href="/candidate">Candidates</a></li>
            <li><a href="/votingplace">Voting Places</a></li>
            <li><a href="/voter">Voters</a></li>
            <li><a href="/ballot">Ballots</a></li>

        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>